<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.getjavajob.training.yakovleva.web.utils.AuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--    <servlet>-->
    <!--        <servlet-name>RegisterAccount</servlet-name>-->
    <!--        <jsp-file>/jsp/account.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>RegisterAccount</servlet-name>-->
    <!--        <url-pattern>/RegistrationAccount.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountPage</servlet-name>-->
    <!--        <jsp-file>jsp/main.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountPage</servlet-name>-->
    <!--        <url-pattern>/main.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountLogin</servlet-name>-->
    <!--        <jsp-file>jsp/index.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountLogin</servlet-name>-->
    <!--        <url-pattern>/index.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountSettings</servlet-name>-->
    <!--        <jsp-file>jsp/myAccount.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountSettings</servlet-name>-->
    <!--        <url-pattern>/myAccount.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountEditSettings</servlet-name>-->
    <!--        <jsp-file>jsp/EditAccountSettings.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountEditSettings</servlet-name>-->
    <!--        <url-pattern>/EditAccountSettings.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountGroup</servlet-name>-->
    <!--        <jsp-file>jsp/AccountGroup.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountGroup</servlet-name>-->
    <!--        <url-pattern>/AccountGroup.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--&lt;!&ndash;    <servlet>&ndash;&gt;-->
    <!--&lt;!&ndash;        <servlet-name>AccountCreateGroup</servlet-name>&ndash;&gt;-->
    <!--&lt;!&ndash;        <jsp-file>jsp/CreateGroup.jsp</jsp-file>&ndash;&gt;-->
    <!--&lt;!&ndash;        <load-on-startup>1</load-on-startup>&ndash;&gt;-->
    <!--&lt;!&ndash;    </servlet>&ndash;&gt;-->
    <!--&lt;!&ndash;    <servlet-mapping>&ndash;&gt;-->
    <!--&lt;!&ndash;        <servlet-name>AccountCreateGroup</servlet-name>&ndash;&gt;-->
    <!--&lt;!&ndash;        <url-pattern>/CreateGroup.jsp</url-pattern>&ndash;&gt;-->
    <!--&lt;!&ndash;    </servlet-mapping>&ndash;&gt;-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountFriends</servlet-name>-->
    <!--        <jsp-file>jsp/AccountFriends.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountFriends</servlet-name>-->
    <!--        <url-pattern>/AccountFriends.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AddFriendAccount</servlet-name>-->
    <!--        <jsp-file>jsp/AddFriendAccount.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AddFriendAccount</servlet-name>-->
    <!--        <url-pattern>/AddFriendAccount.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountMessage</servlet-name>-->
    <!--        <jsp-file>jsp/AccountMessage.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountMessage</servlet-name>-->
    <!--        <url-pattern>/AccountMessage.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountFindGroup</servlet-name>-->
    <!--        <jsp-file>jsp/AccountFindGroup.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountFindGroup</servlet-name>-->
    <!--        <url-pattern>/AccountFindGroup.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountWriteMessage</servlet-name>-->
    <!--        <jsp-file>jsp/AccountWriteMessage.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountWriteMessage</servlet-name>-->
    <!--        <url-pattern>/AccountWriteMessage.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>ShowGroup</servlet-name>-->
    <!--        <jsp-file>jsp/showGroup.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ShowGroup</servlet-name>-->
    <!--        <url-pattern>/showGroup</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>AccountLogout</servlet-name>-->
    <!--        <jsp-file>jsp/AccountLogout.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>AccountLogout</servlet-name>-->
    <!--        <url-pattern>/AccountLogout.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->
    <!--    <servlet>-->
    <!--        <servlet-name>ShowFriend</servlet-name>-->
    <!--        <jsp-file>jsp/ShowFriend.jsp</jsp-file>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ShowFriend</servlet-name>-->
    <!--        <url-pattern>/ShowFriend</url-pattern>-->
    <!--    </servlet-mapping>-->

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <resource-ref>
        <description>DB</description>
        <res-ref-name>jdbc/socnetwork</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>resources/social-network-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>