<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>CharacterEncoding</filter-name>
        <filter-class>utils.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncoding</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>utils.AuthorizationFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>FriendsList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/AllAccounts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterAccount</servlet-name>
        <servlet-class>RegisterAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAccount</servlet-name>
        <url-pattern>/RegistrationAccount.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountPage</servlet-name>
        <servlet-class>AccountPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountPage</servlet-name>
        <url-pattern>/main.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountLogin</servlet-name>
        <servlet-class>AccountLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountLogin</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountSettings</servlet-name>
        <servlet-class>AccountSettings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountSettings</servlet-name>
        <url-pattern>/myAccount.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountEditSettings</servlet-name>
        <servlet-class>AccountEditSettings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountEditSettings</servlet-name>
        <url-pattern>/EditAccountSettings.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountGroup</servlet-name>
        <servlet-class>AccountGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountGroup</servlet-name>
        <url-pattern>/AccountGroup.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountCreateGroup</servlet-name>
        <servlet-class>AccountCreateGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountCreateGroup</servlet-name>
        <url-pattern>/CreateGroup.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountFriends</servlet-name>
        <servlet-class>AccountFriends</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountFriends</servlet-name>
        <url-pattern>/AccountFriends.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFriendAccount</servlet-name>
        <servlet-class>AddFriendAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFriendAccount</servlet-name>
        <url-pattern>/AddFriendAccount.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountMessage</servlet-name>
        <servlet-class>AccountMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountMessage</servlet-name>
        <url-pattern>/AccountMessage.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountFindGroup</servlet-name>
        <servlet-class>AccountFindGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountFindGroup</servlet-name>
        <url-pattern>/AccountFindGroup.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountWriteMessage</servlet-name>
        <servlet-class>AccountWriteMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountWriteMessage</servlet-name>
        <url-pattern>/AccountWriteMessage.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowGroup</servlet-name>
        <servlet-class>ShowGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowGroup</servlet-name>
        <url-pattern>/showGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountLogout</servlet-name>
        <servlet-class>AccountLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountLogout</servlet-name>
        <url-pattern>/AccountLogout.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowFriend</servlet-name>
        <servlet-class>ShowFriend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowFriend</servlet-name>
        <url-pattern>/ShowFriend</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

</web-app>